[Unit]
Description=Gunicorn instance to serve application
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4
Environment=/home/ubuntu/ubuntu
gunicorn --workers 3 --bind to 127.0.0.1:5003 web_dynamic.2-hbnb:app --error-logfile /tmp/airbnb-error.log

ExecStart=gunicorn --workers 3 --bind 0.0.0.0:5003 web_dynamic.2-hbnb:app --error-logfile /tmp/airbnb-error.log
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
